### Loop

In [2]:
print('hello world')
print('hello world')
print('hello world')
print('hello world')
print('hello world')
print('hello world')
print('hello world')
print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [4]:
print('hello world')
print('hello world')
print('hello world')


for i in range(10):
    num1 = 1 
    num2 = 2
    result = num1 + num2 
    print(result)

hello world
hello world
hello world
3
3
3
3
3
3
3
3
3
3

In [8]:
# types 
# for loop
# while loop

# range function ending point is not inclusive 
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
for i in range(10):
    print(i,' hello world')

0  hello world
1  hello world
2  hello world
3  hello world
4  hello world
5  hello world
6  hello world
7  hello world
8  hello world
9  hello world

In [27]:
name = "upflairs pvt 8 ltd jaipur "
for char in name:
    if char == "8":
        print('numerical')

numerical

In [25]:
list1 = list(range(1,11))
for i in list1:
    if i == 90:
        print('present')

In [29]:
per = [50,60,25,89]
for item in per:
    if item <=30:
        print(item,' fail')
    else:
        print(item,' pass')

50  pass
60  pass
25  fail
89  pass

In [31]:
per = (50,60,25,89,78)
for item in per:
    if item % 2 == 0:
        print('EVEN')
    else:
        print('ODD')

EVEN
EVEN
ODD
ODD
EVEN

In [37]:
d = {'name':'jay','roll_no':5,'branch':'data science'}
for i in d.values():
    print(i)

jay
5
data science

In [49]:
temp = list(d.items())

first_tuple = temp[0]
first_tuple

# tuple unpacking
key , value = first_tuple

name
roll_no
branch

In [58]:
d = {'name':'jay','roll_no':5,'branch':'data science'}
for key , value in d.items():
    print(key ,"<<<<>>>>>>", value)

name <<<<>>>>>> jay
roll_no <<<<>>>>>> 5
branch <<<<>>>>>> data science

In [64]:
student_id =  [2,4,6,78,3,9,78,67,54,7,5]
for i in student_id:
    if i == 7:
        print('present')

present

In [63]:
# nested loop

for i in range(1,6):
    print(i)
    print()

    for j in range(6 , 11):
        print(j)
    for j in range(6 , 11):
        print(j)

        for j in range(6 , 11):
            print(j)


## time complexity
# space complexity
# code readability

1

6
7
8
9
10
2

6
7
8
9
10
3

6
7
8
9
10
4

6
7
8
9
10
5

6
7
8
9
10

In [67]:
name = 'upflairs pvt ltd jaipur'

name.count('u')

for char in name:
    print(char , name.count(char))

u 2
p 3
f 1
l 2
a 2
i 2
r 2
s 1
  3
p 3
v 1
t 2
  3
l 2
t 2
d 1
  3
j 1
a 2
i 2
p 3
u 2
r 2

In [2]:
i = 1
while i < 6:
    print(i)
    i +=1

1
2
3
4
5
6

In [ ]:
# break and continue , enumerate

In [13]:
lst = [34,53,64,2,6,75,75]
for i,item in enumerate(lst):
    if item == 6:
        print(i , item)

4 6

In [21]:
## break
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [24]:
## continue
for i in range(1,11):
    
    if i == 9:
        continue 
    print(i)

1
2
3
4
5
6
7
8
10

In [28]:
x = 0
while x<3:
    x = x + 1
     
    print("hello world")

hello world
hello world
hello world

In [3]:
x = [2,3,6,9,8,24,67,42,10,76,25,66,89,90,12,14,18,26,4,8,21,98,49,13]
temp = 0
for i in x:
    if i %2==0:
        temp += i
    else:
        # print("odd number")
        pass
print(temp)

504

In [7]:
a = 2
if a == 2 :
    pass
else:
    print('hii')

In [43]:
y = int(input("enter number"))
for i in range(1,11):            
   print(f"{y}  * {i}  = {y*i }"  )

4  * 1  = 4
4  * 2  = 8
4  * 3  = 12
4  * 4  = 16
4  * 5  = 20
4  * 6  = 24
4  * 7  = 28
4  * 8  = 32
4  * 9  = 36
4  * 10  = 40

In [50]:
num = 1
while num %2 !=0: 
   print(f"{y}  * {i}  = {y*i }" )
   i +=1

In [28]:
a = "upflairs"
b = 'jaipur'
# print('hello world')
# print(a)

# print(a,b)
print("company ",   a,b)
# print(f"company {a} {b}")

# print(2/2)


# city = "jaipur"
# strr  = f"upflairs pvt ltd jaipur {city} "
# strr

company  upflairs jaipur

In [ ]:
# min()
# max()
# sort()
# types of function 

1. built in function  --> min ,  max, sum , print
2. user defined function

In [10]:
# defining function 
def hello():
    #block of code 
    print("good morning")
    print('Hello welcome to you ')


 
hello()   # calling

good morning
Hello welcome to you

In [16]:
def add():

    print('hello')
    return 5 + 10
    print('hello ')


result = add()
result

hello

15

In [20]:
# without parameter
def add():
    num1 = 10
    num2 = 20
    result = num1 + num2
    return result

output = add()
print(output)

30

In [31]:
# with parameters

def add(num1 ,num2 ):

    result = num1 + num2
    return result


nu1 = 10
nu2 = 20
output = add( 10,20)
print(output)

30

In [33]:
add(80,2)

82

In [46]:
def apna_min(lst):
    #block of code 
    minimum = x[0] 
    for  i in lst:
        if minimum > i:
            minimum = i

    return minimum

In [48]:
x = [10,76,25,66,89,90,12,14,18,26,4,8,21,9]
apna_min(x)

4

In [45]:
x = [10,76,25,66,89,90,12,14,18,26,4,8,21,98,49,1,3]

temp = x[0]    10   , 4  , 1

for  i in x:
    if temp > i:
        temp = i
temp

1

In [42]:
max(x)

98

In [3]:
lst = [20,56,34,76,34,54,23,43,53,65]
max(lst)

76

In [ ]:
## sort()  --> ascending
#                descending order


#table --> generate_table(num)

#square find function square(LST)  return square of all element
#average find function average(lst)  return average of all elements from given list

In [1]:
#square find function square(LST)  return square of all element

def square_element(input_list):
    return[x**2 for x in input_list]

In [4]:
numbers = [8,9,6,2,55]
square_list = square_element(numbers) 
print("squared_list:" , square_list )

squared_list: [64, 81, 36, 4, 3025]

In [5]:
def avg_fun(input_lst):
    return sum(input_lst)/len(input_lst)

In [6]:
z = [2,4,6,8,10]
avg_lst = avg_fun(z)
print("avg_lst:" , avg_lst)

avg_lst: 6.0