## Set
#### Set is unordered, unchangeable and unindexing.
#### It doesnot allow duplicate values

In [1]:
set = {"code","class","python"}
print(type(set))
print(set)

<class 'set'>
{'class', 'code', 'python'}

In [3]:
set1 = {"python","code",2,5,7,"code"}
print(set1)                      #it doesnot allow duplicate values

{2, 5, 7, 'code', 'python'}

In [4]:
set2 = {"python",2,4,True,"code"}
print(set2)

{True, 2, 4, 'code', 'python'}

In [5]:

set3 = {"python",2,4,False,"code"}
print(set3)

{False, 2, 4, 'code', 'python'}

#### Set constructor

In [7]:
set1 = set(("code","class","python"))
print(type(set1))

TypeError: 'set' object is not callable

In [8]:
set2 = {"python","code","class",3,4}
for x in set2:
    print(x)

class
3
4
code
python

In [9]:
set3 = {"orange","apple","banana"}
if "orange" in set3:
    print("item exist")
else:
    print("item not exist")

item exist

In [10]:
set3 = {"orange","apple","banana"}
if "chickoo" in set3:
    print("item exist")
else:
    print("item not exist")

item not exist

#### Add item in set

In [11]:
set1 = {"python","code","class"}
set1.add("c")
print(set1)

{'c', 'class', 'code', 'python'}

#### Update cmd

In [12]:
set1 = {"python","code","class"}
set2 = {"c","programme"}
set1.update(set2)
print(set1)

{'class', 'c', 'programme', 'code', 'python'}

In [13]:
set1 = {"python","code","class"}
list1 = ("apple","banana")
set1.update(list1)
print(set1)

{'apple', 'python', 'class', 'banana', 'code'}

In [14]:
set1 = {"python","code","class"}
set1.remove("python")
print(set1)

{'class', 'code'}

In [17]:
set1 = {"python","code","class"}
set1.pop()
print(set1)

{'code', 'python'}

#### Join set