## comparison operators

In [1]:
x = 6
y = 8 
print(x>y)

False

In [2]:
x = 6 
y = 8
print(x==y)

False

In [53]:
x = 6 
y = 8 
print(x!=y)

True

## assignment op

In [54]:
x = 6
x += 8
print (x)

14

In [56]:
fruits = ["apple","papaya","orange"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
papaya
orange

In [9]:
self = "my name is jai"
print("name" in self)

True

In [10]:
self = "my hobby is playing cricket"
print("name" not in self)

True

## indexing

In [11]:
variables1 = "python"
print(variables1[3])

h

## slicing

In [12]:
x1 = "homeground"
print(x1[1:5])

omeg

In [13]:
x1 = "homeground"
print(x1[0:6:2])

hmg

In [14]:
y = "baseball"
print(y[0:5:4])

bb

In [16]:
y = "my name"
print(y[0:4])

my n

In [17]:
y = "pythonclass"
print(y[-5:-3])

cl

## modify string

In [21]:
name = "jai"
print(name.upper())

JAI

In [22]:
name = "BASKETBALL"
print(name.lower())

basketball

### strip = removing whitespace

In [5]:
coding = "  python coding  "
coding1 = coding.strip()
print(coding)
print(coding1)

  python coding
python coding

In [6]:
v = "my name is shyam"
result = v.replace("shyam","jai")
print(v)
print(result)

my name is shyam
my name is jai

In [34]:
self = "Hello,World"
print(self.split(","))

['Hello', 'World']

In [39]:
hobby = "my hobby is playing cricket"
print()

### concatenate
### joining two strings

In [4]:
X = "myname"
y = "isjai"
result = X+ "" +y
print(result)

mynameisjai

In [2]:
string1 = "python"
string2 = "programming"
print(string1 + string2)
print(string1+ " " +string2)

pythonprogramming
python programming

In [3]:
z = "hobby"
g = "basketball"
print(z+ " " +g)

hobby basketball

In [4]:
v = "apple"
q = "juice"
print(v+ " " +q)

apple juice

In [43]:
name = input("Enter your name:")
print(name.upper())

Enter your name: jai

JAI

In [45]:
name = input("Enter your name:")
print(name.lower())

Enter your name: jai

jai

In [47]:
x = int(input("enter number:"))
y = int(input("enter number:"))
print(x+y)

enter number: 3
enter number: 4

7

In [48]:
x = int(input("enter number:"))
y = int(input("enter number:"))
print(x-y)

enter number: 4
enter number: 5

-1

In [49]:
x = int(input("enter number:"))
y = int(input("enter number:"))
result = x+y
print("addition of two numbers:",result)

enter number: 3
enter number: 7

addition of two numbers: 10

## Formating

In [8]:
Name = "Jai"
Age = 22
print(Name+ " " + str(Age))

Jai 22

In [11]:
Name = "Jai"
Age = 22
result = f"My name is {Name}. I am {Age} years old"
print(result)

My name is Jai. I am 22 years old

In [12]:
Name = "Jai"
Age = 22
result = "my name is {}. I am {} years old"
print(result.format(Name,Age))

my name is Jai. I am 22 years old

In [5]:
name = input("Enter your name:")
age = input("Enter your age:")
result = f"My name is {name}. I am {age} years old"
print(result)

In [14]:
fruit  = input("Enter fruit name:")
vegetable = input("Enter vegetable name:")
result = f"My fav fruit is {fruit} and my fav vegetable is {vegetable} "
print(result)

Enter fruit name: apple
Enter vegetable name: potato

My fav fruit is apple and my fav vegetable is potato

## loop on string

In [16]:
string1 = "python"
for x in string1:
    print(x)

p
y
t
h
o
n

## List
#### Lists are used to store diff types of values in a single variable
#### lists are denoted by []

In [17]:
List1 = [2,4,4,5,6,7.4]                 #assign numerical values
print(List1)
print(type(List1))

[2, 4, 4, 5, 6, 7.4]
<class 'list'>

In [18]:
list2 = ["fruits","apple","banana","papaya"]
print(list2)
print(type(list2))

['fruits', 'apple', 'banana', 'papaya']
<class 'list'>

### multiple types of values

In [20]:
list3 = ["python", True, 45, 4.6, "hello"]
print(list3)

['python', True, 45, 4.6, 'hello']

### List constructor

In [21]:
list4 = list(("python",3.4,False,"programme"))
print(type(list4))
print(list4)

<class 'list'>
['python', 3.4, False, 'programme']

In [23]:
list4 = list(("python",3.4,False,"programme"))
print(type(list4))
print(list4)
print(list4[1])

<class 'list'>
['python', 3.4, False, 'programme']
3.4

In [24]:
list4 = list(("python",3.4,False,"programme"))
print(type(list4))
print(list4)
print(list4[-2])

<class 'list'>
['python', 3.4, False, 'programme']
False

In [25]:
list4 = list(("python",3.4,False,"programme","code","class", 4,True,9,"end"))

print(type(list4))
print(list4)
result = list4[0:10:2]                #skip in list
print(result)

<class 'list'>
['python', 3.4, False, 'programme', 'code', 'class', 4, True, 9, 'end']
['python', False, 'code', 4, 9]

## check if item exist

In [3]:
list4 = list(("python",3.4,False,"programme","code","class", 4,True,9,"end"))

print(type(list4))
print(list4)
if "python" in list4:
    print("item exist in list4")

<class 'list'>
['python', 3.4, False, 'programme', 'code', 'class', 4, True, 9, 'end']
item exist in list4

In [4]:
list5 = ["code","block","c",3.4,True ]
if "code" in list5:
    print("item exist in list5")
else:
    print("item not present in list")

item exist in list5

In [5]:
list5 = ["code","block","c",3.4,True ]
if "False" in list5:
    print("item exist in list5")
else:
    print("item not present in list")

item not present in list

### change item values

In [6]:
list1 = ["my", "name","is","cricket"]
list1[3] = "jai"
print(list1)

['my', 'name', 'is', 'jai']

In [7]:
list2 = ["my", "hobby","is","playing","apple"]
list2[4] = "basketball"
print(list2)

['my', 'hobby', 'is', 'playing', 'basketball']

In [13]:
list3 =  ["my", "name","is","playing","apple"]
list3[1:4] = "hobby","basketball",67
print(list3)

['my', 'hobby', 'basketball', 67, 'apple']

In [14]:
list4 = ["my","name","is","kook"]
list4[-1] = "jai"
print(list4)

['my', 'name', 'is', 'jai']

### insert item at a particular place

In [15]:
list1 = ["python","code","c", 6,3.4]
result = list1.insert(1,"class")
print(list1)

['python', 'class', 'code', 'c', 6, 3.4]

In [16]:
list2 = ["python","code","c", 6,3.4]
result = list2.append("mango")
print(list2)

['python', 'code', 'c', 6, 3.4, 'mango']

## extend
#### extend items from one listt to another list

In [21]:
list1 = ["my","name","is","jai"]
list2 = ["my", "hobby", "is" ,"playing","cricket"]
list1.extend(list2)
print(list1)

['my', 'name', 'is', 'jai', 'my', 'hobby', 'is', 'playing', 'cricket']

In [23]:
list1 = ["my","name","is","jai","class"]
list1.remove("class")
print(list1)

['my', 'name', 'is', 'jai']

In [25]:
list1 = ["my","name","is","jai","class"]
list1.pop()                                  #removing last element
print(list1)

['my', 'name', 'is', 'jai']

In [27]:
list1 = ["my","name","is","jai","class"]
list1.pop(0)                                  #remove indexed number
print(list1)

['name', 'is', 'jai', 'class']

In [28]:
list2 = ["python","code",3]
list2.clear()
print(list2)

[]

## Sorting

In [29]:
list1 = ["apple","cat","monkey","deer"]
list1.sort()                             #alphabetically
print(list1)

['apple', 'cat', 'deer', 'monkey']

In [30]:
list2 = [2,4,8,4,9,]
list2.sort()                             
print(list2)

[2, 4, 4, 8, 9]

In [32]:
list3 = ["apple","cat","monkey","deer"]
list3.sort(reverse = True)                      #descending order       
print(list3)

['monkey', 'deer', 'cat', 'apple']

In [33]:
list4 = [2,4,8,4,9,]
list4.sort(reverse = True)                             
print(list4)

[9, 8, 4, 4, 2]

In [35]:
list5 = ["apple","cat","Monkey","deer"]
list5.sort()                      #takes capital word first    
print(list5)

['Monkey', 'apple', 'cat', 'deer']

In [37]:
list5 = ["apple","cat","Monkey","deer"]
list5.sort(key = str.lower)                        
print(list5)

['apple', 'cat', 'deer', 'Monkey']

## reverse order

In [39]:
list1 = ["cat","python","class"]
list1.reverse
print(list1)

['cat', 'python', 'class']

### duplicate list

In [40]:
list1 = ["class", "python"]
list2 = ["code","c","programme"]
list2 = list1
print(list2)

['class', 'python']

In [41]:
list1 = ["class", "python"]
list2 = ["code","c","programme"]
list2 = list1.copy()
print(list2)

['class', 'python']

## join two list

In [44]:
list1 =['a','b']
list2 = [1,2,3,4]
list3 = list1 + list2
print(list3)

['a', 'b', 1, 2, 3, 4]

In [45]:
list1 =['a','b']
list2 = [1,2,3,4]
for x in list2:
    list1.append(x)
    print(list1)

['a', 'b', 1]
['a', 'b', 1, 2]
['a', 'b', 1, 2, 3]
['a', 'b', 1, 2, 3, 4]

## count method

In [50]:
list1 =["python","class","code","code","c"]
list1.count(" ")
print(list1)

['python', 'class', 'code', 'code', 'c']