## comparison operators

In [1]:
x = 6
y = 8 
print(x>y)

False

In [2]:
x = 6 
y = 8
print(x==y)

False

In [53]:
x = 6 
y = 8 
print(x!=y)

True

## assignment op

In [54]:
x = 6
x += 8
print (x)

14

In [56]:
fruits = ["apple","papaya","orange"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
papaya
orange

In [8]:
x = int
y = string
print(x,y)

NameError: name 'string' is not defined

In [9]:
self = "my name is jai"
print("name" in self)

True

In [10]:
self = "my hobby is playing cricket"
print("name" not in self)

True

## indexing

In [11]:
variables1 = "python"
print(variables1[3])

h

## slicing

In [12]:
x1 = "homeground"
print(x1[1:5])

omeg

In [13]:
x1 = "homeground"
print(x1[0:6:2])

hmg

In [14]:
y = "baseball"
print(y[0:5:4])

bb

In [16]:
y = "my name"
print(y[0:4])

my n

In [17]:
y = "pythonclass"
print(y[-5:-3])

cl

## modify string

In [21]:
name = "jai"
print(name.upper())

JAI

In [22]:
name = "BASKETBALL"
print(name.lower())

basketball

### strip = removing whitespace

In [5]:
coding = "  python coding  "
coding1 = coding.strip()
print(coding)
print(coding1)

  python coding
python coding

In [6]:
v = "my name is shyam"
result = v.replace("shyam","jai")
print(v)
print(result)

my name is shyam
my name is jai

In [34]:
self = "Hello,World"
print(self.split(","))

['Hello', 'World']

In [39]:
hobby = "my hobby is playing cricket"
print()

### concatenate
### joining two strings

In [40]:
X = "my name"
y = "is jai"
result = x+ "" +y
print(result)

my name is jaiis jai

In [2]:
string1 = "python"
string2 = "programming"
print(string1 + string2)
print(string1+ " " +string2)

pythonprogramming
python programming

In [3]:
z = "hobby"
g = "basketball"
print(z+ " " +g)

hobby basketball

In [4]:
v = "apple"
q = "juice"
print(v+ " " +q)

apple juice

In [43]:
name = input("Enter your name:")
print(name.upper())

Enter your name: jai

JAI

In [45]:
name = input("Enter your name:")
print(name.lower())

Enter your name: jai

jai

In [ ]:
name1 = input("Enter your name1:")
name2 = input("Enter your name2:")

In [47]:
x = int(input("enter number:"))
y = int(input("enter number:"))
print(x+y)

enter number: 3
enter number: 4

7

In [48]:
x = int(input("enter number:"))
y = int(input("enter number:"))
print(x-y)

enter number: 4
enter number: 5

-1

In [49]:
x = int(input("enter number:"))
y = int(input("enter number:"))
result = x+y
print("addition of two numbers:",result)

enter number: 3
enter number: 7

addition of two numbers: 10

In [8]:
Name = "Jai"
Age = 22
print(Name+ " " + str(Age))

Jai 22

In [11]:
Name = "Jai"
Age = 22
result = f"My name is {Name}. I am {Age} years old"
print(result)

My name is Jai. I am 22 years old

In [12]:
Name = "Jai"
Age = 22
result = "my name is {}. I am {} years old"
print(result.format(Name,Age))

my name is Jai. I am 22 years old

In [13]:
name = input("Enter your name:")
age = input("Enter your age:")
result = f"My name is {name}. I am {age} years old"
print(result)

Enter your name: jai
Enter your age: 22

My name is jai. I am 22 years old

In [14]:
fruit  = input("Enter fruit name:")
vegetable = input("Enter vegetable name:")
result = f"My fav fruit is {fruit} and my fav vegetable is {vegetable} "
print(result)

Enter fruit name: apple
Enter vegetable name: potato

My fav fruit is apple and my fav vegetable is potato

## loop on string

In [16]:
string1 = "python"
for x in string1:
    print(x)

p
y
t
h
o
n

## List
#### Lists are used to store diff types of values in a single variable
#### lists are denoted by []

In [17]:
List1 = [2,4,4,5,6,7.4]                 #assign numerical values
print(List1)
print(type(List1))

[2, 4, 4, 5, 6, 7.4]
<class 'list'>

In [18]:
list2 = ["fruits","apple","banana","papaya"]
print(list2)
print(type(list2))

['fruits', 'apple', 'banana', 'papaya']
<class 'list'>

### multiple types of values

In [20]:
list3 = ["python", True, 45, 4.6, "hello"]
print(list3)

['python', True, 45, 4.6, 'hello']

### List constructor

In [21]:
list4 = list(("python",3.4,False,"programme"))
print(type(list4))
print(list4)

<class 'list'>
['python', 3.4, False, 'programme']

In [23]:
list4 = list(("python",3.4,False,"programme"))
print(type(list4))
print(list4)
print(list4[1])

<class 'list'>
['python', 3.4, False, 'programme']
3.4

In [24]:
list4 = list(("python",3.4,False,"programme"))
print(type(list4))
print(list4)
print(list4[-2])

<class 'list'>
['python', 3.4, False, 'programme']
False

In [25]:
list4 = list(("python",3.4,False,"programme","code","class", 4,True,9,"end"))

print(type(list4))
print(list4)
result = list4[0:10:2]                #skip in list
print(result)

<class 'list'>
['python', 3.4, False, 'programme', 'code', 'class', 4, True, 9, 'end']
['python', False, 'code', 4, 9]