## Tuple
#### Tuples are used to store multiple items in a single variable.

In [1]:
tuple1 = ("apple","banana","orange","watermelon")
print(tuple1)
print(type(tuple1))

('apple', 'banana', 'orange', 'watermelon')
<class 'tuple'>

In [2]:
tuple2 = (2,4,6,8,9)
print(tuple2)
print(type(tuple2))

(2, 4, 6, 8, 9)
<class 'tuple'>

#### Multiple type of values in tuple

In [4]:
tuple = ("code","python",2,4,"c",True)
print(tuple)
print(type(tuple))

('code', 'python', 2, 4, 'c', True)
<class 'tuple'>

In [5]:
tuple = ("code","python",2,4,"c",True)
print(tuple)
print(type(tuple))
print(tuple[5])

('code', 'python', 2, 4, 'c', True)
<class 'tuple'>
True

In [6]:
tuple = ("code","python",2,4,"c",True)
print(tuple)
print(type(tuple))
print(tuple[-4])

('code', 'python', 2, 4, 'c', True)
<class 'tuple'>
2

In [7]:
tuple = ("code","python",2,4,"c",True)
print(tuple)
print(type(tuple))
print(tuple[0:5:3])

('code', 'python', 2, 4, 'c', True)
<class 'tuple'>
('code', 4)

#### Check if item exist or not

In [8]:
tuple = ("apple","orange","banana","papaya")
print(tuple)
print(type(tuple))
if "orange"  in tuple:
    print("Item exist in tuple")

('apple', 'orange', 'banana', 'papaya')
<class 'tuple'>
Item exist in tuple

In [9]:
tuple = ("apple","orange","banana","papaya")
print(tuple)
print(type(tuple))
if "chickoo"  in tuple:
    print("Item exist in tuple")
else:
    print("Item is not in tuple")

('apple', 'orange', 'banana', 'papaya')
<class 'tuple'>
Item is not in tuple

### Length of a tuple

In [1]:
tuple2 = ("cake","code","c","python","class",2,5,9)
print(len(tuple2))

8

### tuple constructor

In [2]:
tuple1 = tuple(("apple", "banana", "cherry")) 
print(tuple1)

('apple', 'banana', 'cherry')

In [3]:
x = (("python","code","cake",2))
y = list(x)
y[2] = "class"
x = tuple(y)
print(x)

('python', 'code', 'class', 2)

In [4]:
j = (("my","name","is","kook"))
k = list(j)
k[3] = "jai"
j = tuple(k)
print(j)

('my', 'name', 'is', 'jai')

In [8]:
x1 = ("my","name","is")
y1 = list(x1)
y1.append("jai")
x1 = tuple(y1)
print(x1)

('my', 'name', 'is', 'jai')

In [9]:
x2 = ("my","hobby","is")
y2 = list(x2)
y2.append("dancing")
x2 = tuple(y2)
print(x2)

('my', 'hobby', 'is', 'dancing')

### concatenate tuples

In [13]:
tuple1 = ("python","class","code",2,5)
tuple2 = ("programme",)
tuple1 += tuple2
print(tuple1)

('python', 'class', 'code', 2, 5, 'programme')

### Tuple Unpacking

In [14]:
fruits = ("apple","banana","papaya")
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
papaya