## Log Regression

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply
import seaborn as sns

In [3]:
df = pd.read_csv('cust_satisfaction.csv')
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [5]:
#y --> customer types
# balance and inbalance dataset
df['Customer Type'].value_counts()

Customer Type
Loyal Customer       84923
disloyal Customer    18981
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [7]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [8]:
df[df['Arrival Delay in Minutes'].isnull()]

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
213,Female,Loyal Customer,Business travel,Eco,satisfied,38,109,5,4,5,31,NaN
1124,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied,53,1012,4,4,4,38,NaN
1529,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,39,733,2,2,3,11,NaN
2004,Female,disloyal Customer,Business travel,Business,neutral or dissatisfied,26,1035,2,4,2,41,NaN
2108,Female,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied,24,417,5,2,5,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
102067,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,49,1249,3,4,3,230,NaN
102384,Male,Loyal Customer,Business travel,Eco,neutral or dissatisfied,58,733,3,2,3,55,NaN
102552,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,29,1107,5,5,5,0,NaN
102960,Male,Loyal Customer,Business travel,Eco,satisfied,58,1088,5,5,5,0,NaN
103540,Female,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied,33,359,4,5,4,42,NaN

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [16]:
df.duplicated().sum()

0

In [15]:
df.drop_duplicates(inplace=True)

In [ ]:
## balance data operations 
#

In [17]:
loyal_cust=df[df['Customer Type']=='Loyal Customer']
disloyal_cust =df[df['Customer Type']=='disloyal Customer']

In [20]:
loyal_customer=loyal_cust.sample(21000)

In [22]:
balace_df=pd.concat([loyal_customer,disloyal_cust],axis=0)
balace_df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
62137,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,41,3839,2,3,3,289,285.0
73149,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied,25,369,3,1,3,0,0.0
97565,Male,Loyal Customer,Business travel,Eco,neutral or dissatisfied,55,259,3,3,3,0,0.0
21493,Male,Loyal Customer,Business travel,Business,satisfied,43,2399,3,5,5,0,20.0
60469,Female,Loyal Customer,Business travel,Business,satisfied,47,2172,4,4,5,5,0.0

In [23]:
cat_col=balace_df.select_dtypes(include='O')
cat_col

,Gender,Customer Type,Type of Travel,Class,satisfaction
62137,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
73149,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
97565,Male,Loyal Customer,Business travel,Eco,neutral or dissatisfied
21493,Male,Loyal Customer,Business travel,Business,satisfied
60469,Female,Loyal Customer,Business travel,Business,satisfied
...,...,...,...,...,...
103892,Female,disloyal Customer,Business travel,Business,neutral or dissatisfied
103895,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied

In [24]:
num_col = balace_df.select_dtypes(exclude='O')
num_col

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
62137,41,3839,2,3,3,289,285.0
73149,25,369,3,1,3,0,0.0
97565,55,259,3,3,3,0,0.0
21493,43,2399,3,5,5,0,20.0
60469,47,2172,4,4,5,5,0.0
...,...,...,...,...,...,...,...
103892,37,596,3,3,3,110,121.0
103895,24,1055,1,5,1,13,10.0
103899,23,192,2,4,2,3,0.0
103901,30,1995,4,4,4,7,14.0
103902,22,1000,1,1,1,0,0.0

In [25]:
cat_col

,Gender,Customer Type,Type of Travel,Class,satisfaction
62137,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
73149,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
97565,Male,Loyal Customer,Business travel,Eco,neutral or dissatisfied
21493,Male,Loyal Customer,Business travel,Business,satisfied
60469,Female,Loyal Customer,Business travel,Business,satisfied
...,...,...,...,...,...
103892,Female,disloyal Customer,Business travel,Business,neutral or dissatisfied
103895,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied

In [26]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [37]:
encoder= OneHotEncoder(drop='if_binary')

In [ ]:
encoder = OneHotEncoder()

In [36]:
print(OneHotEncoder.__doc__)

    Encode categorical features as a one-hot numeric array.

    The input to this transformer should be an array-like of integers or
    strings, denoting the values taken on by categorical (discrete) features.
    The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
    encoding scheme. This creates a binary column for each category and
    returns a sparse matrix or dense array (depending on the ``sparse_output``
    parameter).

    By default, the encoder derives the categories based on the unique values
    in each feature. Alternatively, you can also specify the `categories`
    manually.

    This encoding is needed for feeding categorical data to many scikit-learn
    estimators, notably linear models and SVMs with the standard kernels.

    Note: a one-hot encoding of y labels should use a LabelBinarizer
    instead.

    Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
    For a comparison of different encoders, refer to:
    :ref:`sphx_glr_auto_examples_preprocessing_plot_target_encoder.py`.

    Parameters
    ----------
    categories : 'auto' or a list of array-like, default='auto'
        Categories (unique values) per feature:

        - 'auto' : Determine categories automatically from the training data.
        - list : ``categories[i]`` holds the categories expected in the ith
          column. The passed categories should not mix strings and numeric
          values within a single feature, and should be sorted in case of
          numeric values.

        The used categories can be found in the ``categories_`` attribute.

        .. versionadded:: 0.20

    drop : {'first', 'if_binary'} or an array-like of shape (n_features,),             default=None
        Specifies a methodology to use to drop one of the categories per
        feature. This is useful in situations where perfectly collinear
        features cause problems, such as when feeding the resulting data
        into an unregularized linear regression model.

        However, dropping one category breaks the symmetry of the original
        representation and can therefore induce a bias in downstream models,
        for instance for penalized linear classification or regression models.

        - None : retain all features (the default).
        - 'first' : drop the first category in each feature. If only one
          category is present, the feature will be dropped entirely.
        - 'if_binary' : drop the first category in each feature with two
          categories. Features with 1 or more than 2 categories are
          left intact.
        - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
          should be dropped.

        When `max_categories` or `min_frequency` is configured to group
        infrequent categories, the dropping behavior is handled after the
        grouping.

        .. versionadded:: 0.21
           The parameter `drop` was added in 0.21.

        .. versionchanged:: 0.23
           The option `drop='if_binary'` was added in 0.23.

        .. versionchanged:: 1.1
            Support for dropping infrequent categories.

    sparse_output : bool, default=True
        When ``True``, it returns a :class:`scipy.sparse.csr_matrix`,
        i.e. a sparse matrix in "Compressed Sparse Row" (CSR) format.

        .. versionadded:: 1.2
           `sparse` was renamed to `sparse_output`

    dtype : number type, default=np.float64
        Desired dtype of output.

    handle_unknown : {'error', 'ignore', 'infrequent_if_exist'},                      default='error'
        Specifies the way unknown categories are handled during :meth:`transform`.

        - 'error' : Raise an error if an unknown category is present during transform.
        - 'ignore' : When an unknown category is encountered during
          transform, the resulting one-hot encoded columns for this feature
          will be all zeros. In the inverse transform, an unknown category
          will be denoted as None.
        - 'infrequent_if_exist' : When an unknown category is encountered
          during transform, the resulting one-hot encoded columns for this
          feature will map to the infrequent category if it exists. The
          infrequent category will be mapped to the last position in the
          encoding. During inverse transform, an unknown category will be
          mapped to the category denoted `'infrequent'` if it exists. If the
          `'infrequent'` category does not exist, then :meth:`transform` and
          :meth:`inverse_transform` will handle an unknown category as with
          `handle_unknown='ignore'`. Infrequent categories exist based on
          `min_frequency` and `max_categories`. Read more in the
          :ref:`User Guide <encoder_infrequent_categories>`.

        .. versionchanged:: 1.1
            `'infrequent_if_exist'` was added to automatically handle unknown
            categories and infrequent categories.

    min_frequency : int or float, default=None
        Specifies the minimum frequency below which a category will be
        considered infrequent.

        - If `int`, categories with a smaller cardinality will be considered
          infrequent.

        - If `float`, categories with a smaller cardinality than
          `min_frequency * n_samples`  will be considered infrequent.

        .. versionadded:: 1.1
            Read more in the :ref:`User Guide <encoder_infrequent_categories>`.

    max_categories : int, default=None
        Specifies an upper limit to the number of output features for each input
        feature when considering infrequent categories. If there are infrequent
        categories, `max_categories` includes the category representing the
        infrequent categories along with the frequent categories. If `None`,
        there is no limit to the number of output features.

        .. versionadded:: 1.1
            Read more in the :ref:`User Guide <encoder_infrequent_categories>`.

    feature_name_combiner : "concat" or callable, default="concat"
        Callable with signature `def callable(input_feature, category)` that returns a
        string. This is used to create feature names to be returned by
        :meth:`get_feature_names_out`.

        `"concat"` concatenates encoded feature name and category with
        `feature + "_" + str(category)`.E.g. feature X with values 1, 6, 7 create
        feature names `X_1, X_6, X_7`.

        .. versionadded:: 1.3

    Attributes
    ----------
    categories_ : list of arrays
        The categories of each feature determined during fitting
        (in order of the features in X and corresponding with the output
        of ``transform``). This includes the category specified in ``drop``
        (if any).

    drop_idx_ : array of shape (n_features,)
        - ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category
          to be dropped for each feature.
        - ``drop_idx_[i] = None`` if no category is to be dropped from the
          feature with index ``i``, e.g. when `drop='if_binary'` and the
          feature isn't binary.
        - ``drop_idx_ = None`` if all the transformed features will be
          retained.

        If infrequent categories are enabled by setting `min_frequency` or
        `max_categories` to a non-default value and `drop_idx[i]` corresponds
        to a infrequent category, then the entire infrequent category is
        dropped.

        .. versionchanged:: 0.23
           Added the possibility to contain `None` values.

    infrequent_categories_ : list of ndarray
        Defined only if infrequent categories are enabled by setting
        `min_frequency` or `max_categories` to a non-default value.
        `infrequent_categories_[i]` are the infrequent categories for feature
        `i`. If the feature `i` has no infrequent categories
        `infrequent_categories_[i]` is None.

        .. versionadded:: 1.1

    n_features_in_ : int
        Number of features seen during :term:`fit`.

        .. versionadded:: 1.0

    feature_names_in_ : ndarray of shape (`n_features_in_`,)
        Names of features seen during :term:`fit`. Defined only when `X`
        has feature names that are all strings.

        .. versionadded:: 1.0

    feature_name_combiner : callable or None
        Callable with signature `def callable(input_feature, category)` that returns a
        string. This is used to create feature names to be returned by
        :meth:`get_feature_names_out`.

        .. versionadded:: 1.3

    See Also
    --------
    OrdinalEncoder : Performs an ordinal (integer)
      encoding of the categorical features.
    TargetEncoder : Encodes categorical features using the target.
    sklearn.feature_extraction.DictVectorizer : Performs a one-hot encoding of
      dictionary items (also handles string-valued features).
    sklearn.feature_extraction.FeatureHasher : Performs an approximate one-hot
      encoding of dictionary items or strings.
    LabelBinarizer : Binarizes labels in a one-vs-all
      fashion.
    MultiLabelBinarizer : Transforms between iterable of
      iterables and a multilabel format, e.g. a (samples x classes) binary
      matrix indicating the presence of a class label.

    Examples
    --------
    Given a dataset with two features, we let the encoder find the unique
    values per feature and transform the data to a binary one-hot encoding.

    >>> from sklearn.preprocessing import OneHotEncoder

    One can discard categories not seen during `fit`:

    >>> enc = OneHotEncoder(handle_unknown='ignore')
    >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
    >>> enc.fit(X)
    OneHotEncoder(handle_unknown='ignore')
    >>> enc.categories_
    [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
    >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
    array([[1., 0., 1., 0., 0.],
           [0., 1., 0., 0., 0.]])
    >>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
    array([['Male', 1],
           [None, 2]], dtype=object)
    >>> enc.get_feature_names_out(['gender', 'group'])
    array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'], ...)

    One can always drop the first column for each feature:

    >>> drop_enc = OneHotEncoder(drop='first').fit(X)
    >>> drop_enc.categories_
    [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
    >>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
    array([[0., 0., 0.],
           [1., 1., 0.]])

    Or drop a column for feature only having 2 categories:

    >>> drop_binary_enc = OneHotEncoder(drop='if_binary').fit(X)
    >>> drop_binary_enc.transform([['Female', 1], ['Male', 2]]).toarray()
    array([[0., 1., 0., 0.],
           [1., 0., 1., 0.]])

    One can change the way feature names are created.

    >>> def custom_combiner(feature, category):
    ...     return str(feature) + "_" + type(category).__name__ + "_" + str(category)
    >>> custom_fnames_enc = OneHotEncoder(feature_name_combiner=custom_combiner).fit(X)
    >>> custom_fnames_enc.get_feature_names_out()
    array(['x0_str_Female', 'x0_str_Male', 'x1_int_1', 'x1_int_2', 'x1_int_3'],
          dtype=object)

    Infrequent categories are enabled by setting `max_categories` or `min_frequency`.

    >>> import numpy as np
    >>> X = np.array([["a"] * 5 + ["b"] * 20 + ["c"] * 10 + ["d"] * 3], dtype=object).T
    >>> ohe = OneHotEncoder(max_categories=3, sparse_output=False).fit(X)
    >>> ohe.infrequent_categories_
    [array(['a', 'd'], dtype=object)]
    >>> ohe.transform([["a"], ["b"]])
    array([[0., 0., 1.],
           [1., 0., 0.]])

In [38]:
onehot_data=encoder.fit_transform(cat_col).toarray()

In [39]:
onehot_data.shape

(39905, 7)

In [40]:
column_names=list(encoder.get_feature_names_out())
column_names

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [41]:
one_hot=pd.DataFrame(onehot_data,columns=column_names)
one_hot

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...
39900,0.0,1.0,0.0,1.0,0.0,0.0,0.0
39901,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39902,0.0,1.0,0.0,0.0,1.0,0.0,0.0
39903,1.0,1.0,0.0,1.0,0.0,0.0,0.0
39904,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [42]:
num_col

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
62137,41,3839,2,3,3,289,285.0
73149,25,369,3,1,3,0,0.0
97565,55,259,3,3,3,0,0.0
21493,43,2399,3,5,5,0,20.0
60469,47,2172,4,4,5,5,0.0
...,...,...,...,...,...,...,...
103892,37,596,3,3,3,110,121.0
103895,24,1055,1,5,1,13,10.0
103899,23,192,2,4,2,3,0.0
103901,30,1995,4,4,4,7,14.0
103902,22,1000,1,1,1,0,0.0

In [51]:
final_df= pd.concat([one_hot,num_col],axis=1)
final_df

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,41,3839,2,3,3,289,285.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,25,369,3,1,3,0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,55,259,3,3,3,0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,43,2399,3,5,5,0,20.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,47,2172,4,4,5,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,0.0,1.0,0.0,1.0,0.0,0.0,0.0,37,596,3,3,3,110,121.0
39901,0.0,1.0,0.0,0.0,1.0,0.0,0.0,24,1055,1,5,1,13,10.0
39902,0.0,1.0,0.0,0.0,1.0,0.0,0.0,23,192,2,4,2,3,0.0
39903,1.0,1.0,0.0,1.0,0.0,0.0,0.0,30,1995,4,4,4,7,14.0
39904,0.0,1.0,0.0,0.0,1.0,0.0,0.0,22,1000,1,1,1,0,0.0

In [50]:
num_col.reset_index(drop=True,inplace=True)

In [52]:
final_df

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,41,3839,2,3,3,289,285.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,25,369,3,1,3,0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,55,259,3,3,3,0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,43,2399,3,5,5,0,20.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,47,2172,4,4,5,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,0.0,1.0,0.0,1.0,0.0,0.0,0.0,37,596,3,3,3,110,121.0
39901,0.0,1.0,0.0,0.0,1.0,0.0,0.0,24,1055,1,5,1,13,10.0
39902,0.0,1.0,0.0,0.0,1.0,0.0,0.0,23,192,2,4,2,3,0.0
39903,1.0,1.0,0.0,1.0,0.0,0.0,0.0,30,1995,4,4,4,7,14.0
39904,0.0,1.0,0.0,0.0,1.0,0.0,0.0,22,1000,1,1,1,0,0.0

In [53]:
final_df.to_csv('cust_airline_cleaned.csv',index=False)

In [59]:
x = final_df.drop('Customer Type_disloyal Customer',axis=1)
y = final_df[['Customer Type_disloyal Customer']]

In [57]:
from sklearn.model_selection import train_test_split

In [60]:
x_train,x_test ,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [61]:
x_train

,Gender_Male,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
146,0.0,0.0,1.0,0.0,0.0,1.0,63,3669,5,5,3,0,0.0
17551,0.0,1.0,0.0,1.0,0.0,0.0,26,255,5,4,5,0,0.0
36916,0.0,0.0,0.0,1.0,0.0,0.0,25,588,2,4,2,0,0.0
2937,0.0,1.0,0.0,1.0,0.0,1.0,47,683,1,1,4,0,0.0
13190,1.0,1.0,0.0,1.0,0.0,0.0,11,1258,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,0.0,1.0,0.0,1.0,0.0,0.0,21,577,5,3,5,7,0.0
11564,1.0,0.0,1.0,0.0,0.0,1.0,31,611,4,5,4,8,14.0
26608,1.0,0.0,1.0,0.0,0.0,0.0,29,997,4,5,4,10,0.0
13092,0.0,1.0,0.0,1.0,0.0,0.0,26,102,5,5,5,0,0.0
1522,0.0,1.0,0.0,1.0,0.0,1.0,59,102,3,3,4,0,0.0

In [62]:
y_train

       Customer Type_disloyal Customer
146                                0.0
17551                              0.0
36916                              1.0
2937                               0.0
13190                              0.0
...                                ...
2996                               0.0
11564                              0.0
26608                              1.0
13092                              0.0
1522                               0.0

[31924 rows x 1 columns]

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
lr = LogisticRegression()

In [65]:
lr.fit(x_train,y_train)

c:\Users\Jai\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Jai\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [66]:
lr.score(x_train,y_train)

0.8507079313369252

In [67]:
lr.score(x_test,y_test)

0.8457586768575367

In [ ]:
# to increase accuuracy
#data cleaning
# amount of data should be more

In [ ]:
import sklearn.metrics import confusion