In [6]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [7]:
# Write a Python program to find smallest number in a list?
x = [1,4,3,0,9,2]
min(x)

0

In [8]:
# Write a Python program to find largest number in a list?
x  = [10,2,7,19,200]
max(x)

200

In [10]:
# Write a Python program for removing i-th character from a string?
list = ["my","cricket","name","is","jai"]
list.pop(1)
print(list)

['my', 'name', 'is', 'jai']

In [16]:
# Write a Python program to split and join a string?
#join
list1 = ["class","code","python"]
list2 = ["c","programme","row"]
list3 = list1 + list2
print(list3)
#split
list4 = ["Hello my name is jai , I am 22 years old "]
result = list4.split()
print(result)

['class', 'code', 'python', 'c', 'programme', 'row']

AttributeError: 'list' object has no attribute 'split'